* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./cosmo.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 120%;
    animation: cosmo 3s infinite linear;
}

.moon {
    width: 200px;
    height: 200px;
    background-image: url(./moon.jpg);
    border-radius: 50%;
    animation: cosmo 15s infinite linear;
    box-shadow: 1px 1px 30px 20px rgba(0, 0, 0, 0.079) inset ;
}





@keyframes cosmo {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}